.Round{
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
     margin:0 auto;
     padding: 0 2vw;
     

    
}

.Heading{
    display: flex;
    flex-direction: column;
   align-items: baseline;
    padding-left: 4vw;
}
.main{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(180deg, #0007BF 0%, #0071BC 100%);
}

#test{
    padding-top: 18vh;
}

.list{
    position: relative;
    list-style-type:none ;
    color: white;
    left:-8vw
}
.list > li{
    padding-bottom: 3vh;
    
}
.roundinf{
    position: relative;
    right: 8vw;
}
.letter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 40vw;
    background: rgba(245, 245, 245, 0.315);
    border-left:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid black;
}


.stopScroll {
    
    height: 100vh;
    overflow: hidden;
  }