.cardContainer{
    position: relative;
    perspective: 600px;
 height: 39vh;
width: 20vw;
border: 1px solid white;

}
.card{  
position: absolute;
height: 100%;
width: 100%;

transform-style: preserve-3d;
transition:all 0.25s ease-in-out;
}
.cardContainer:hover .card{
    transform: rotateY(180deg);
}
.front{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #C4C4C4;
  transform:rotateY(0deg);

}
.back{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 7, 191, 0.7) 0%, rgba(0, 113, 188, 0.7) 100.07%);

    backface-visibility: hidden;
    transform:rotateY(180deg);
}