.navbar {
	height: 60px;
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
	background-color: #ffffff;
	


}

.links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.navItem {
	padding: 0 15px;
	list-style-type: none;
}

.navLink {
	display: inline-block;
	font-family: Lato;

	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	position: relative;
}

.navLink::after {
	content: "";
	height: 2px;
	width: 30%;
	background-color: #000000;
	position: absolute;
	left: calc(50% - 11%);
	bottom: 0;
}

@keyframes grow {
	from {
		width: 30%;
		left: calc(50% - 10%);
	}
	to {
		width: 100%;
		left: 0;
	}
}
.navLink:hover::after {
	animation: grow 2s ease-in-out forwards;
}
